@model PaymentViewModel

<div class="row">
    <div class="col-md-6">
        <form id="requestPaymentForm" action="" method="post">
            <div class="form-group">
                <div id="panel-father-send-first" class="panel panel-primary">
                    <div id="panel-send-first" class="panel-heading">Datos de Envio al Banco</div>
                    <div class="panel-body">
                        <label for="Mp_order">Service Request</label>
                        <input type="text" name="mp_order" id="mp_order" value=@Model.Mp_order class="form-control" disabled />
                        <label for="BillingAccount">Cta. Facturación</label>
                        <input type="text" id="BillingAccount" value=@Model.BillingAccount class="form-control" disabled />
                        <label for="Mp_amount">Monto a Pagar</label>
                        <input type="number" name="mp_amount" id="mp_amount" value=@Model.Mp_amount class="form-control" disabled />
                        <label for="Currency">Divisa</label>
                        <input type="text" id="Currency" value=@Model.Currency class="form-control" disabled />
                        <label for="Mp_customername">Nombre Pagador</label>
                        <input type="text" name="mp_customername" id="mp_customername" value=@Model.Mp_customername class="form-control" disabled />
                        <label for="CreateToken">Domiciliación de Tarjeta (generar token)</label>
                        <input type="text" id="CreateToken" value=@Model.CreateToken class="form-control" disabled />
                    </div>
                    </div>
                </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" name="enviar" disabled>Aceptar</button>
                <button type="button" class="btn btn-default" name="cerrar" onclick="window.close()"> Cerrar </button>
            </div>
</form>

    </div>
    <div class="col-md-6">
        <form id="responsePaymenForm" action="" method="post">
            <div class="form-group">
                <div id="panel-father-send-first" class="panel panel-primary">
                    <div id="panel-send-first" class="panel-heading">Datos de Respuesta del Banco</div>
                    <div class="panel-body">
                        <label for="BankResponse">Respuesta del Banco</label>
                        <input type="text" name="BankResponse" id="BankResponse" value=@Model.BankResponse class="form-control" disabled />
                        <label for="TransactionNumber">Número de Aprobación</label>
                        <input type="text" name="TransactionNumber" id="TransactionNumber" value=@Model.TransactionNumber class="form-control" disabled />
                        <label for="Token">Token</label>
                        <input type="text" name="Token" id="Token" value=@Model.Token class="form-control" disabled />
                        <label for="CcLastFour">Terminación de la tarjeta</label>
                        <input type="text" name="CcLastFour" id="CcLastFour" value=@Model.CcLastFour class="form-control" disabled />
                        <label for="IssuingBank">Banco Emisor</label>
                        <input type="text" name="IssuingBank" id="IssuingBank" value=@Model.IssuingBank class="form-control" disabled />
                        <label for="CcType">Tipo de Tarjeta</label>
                        <input type="text" name="CcType" id="CcType" value=@Model.CcType class="form-control" disabled />
                    </div>
                    </div>
                </div>
</form>
    </div>
</div>
